/* Nina's Style Sheet */

body {
  /* background-color: #fede18; */
  background-image: url(Images/gold-background-small.jpg);
}

h1 {
  font-family: 'Monofett', arial;
  text-shadow: 2px 2px 0px white, 4px 4px 0px #888;
  font-size: 85px;
  text-align: center;
  color: blue;
}

h2 {
  font-family: 'Suez One', serif;
  font-size: 40px
  text-align: center;
}

header {
  text-align: center;
  font-size: 40px;
  font-family: 'Monofett', arial;
  border: 5px ridge grey;
  background-color: lightgrey;
  background-image: url(Images/mount-roache-med.jpg);
  margin: 20px;
  color:blue;
  text-shadow: 2px 2px 0px white, 4px 4px 0px #888;
}

section {
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
}

.caption {
  tex-align: center;
  font-size: 15px;
}

/* Picture shadow */
.shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.margin {
  margin: 35px;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  font-family: arial;
  text-align: center;
  text-shadow: 0px 0px 2px white;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: gold;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 5px;
}

.button:hover {
  background-color: blue;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}

.textbox {
  background-color: palegoldenrod;
  margin: 25px 35px;
}

.container {
  margin: 0 auto;
}

.address {
  lineheight:5px;
}

/* Google Maps */
.mapouter {
  margin: 0 auto;
  position:relative;
  text-align:left;
  height:500px;
  width:600px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:500px;
  width:600px;
}

footer {
  text-align: center;
  color: black;
  font-weight: bold;
}
