body {
  background-color: #fede18;
}

h1 {
  font-family: 'Piedra', cursive;
  text-shadow: 2px 2px 0px white, 4px 4px 0px #888;
  font-size: 72px;
  text-align: center;
}

h2 {
  font-family: 'Suez One', serif;
  font-size: 40px
  text-aligh: center;
}

header {
  text-align: center;
  font-size: 30px;
  font-family: 'Sriracha', cursive;
  border: 5px ridge grey;
  background-color: lightgrey;
}

section {
  text-align: center;
  font-family: 'Sriracha', cursive;
  font-size: 24px;
}

footer {
  text-align: center;
  color: grey;
}
